<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css')}}">
</head>
<body>
    <div class="login-box">
        <h1>Seja bem vindo ao "App"</h1>
        <form action="/home" method="get">
            <input type="email" id='email' class='input-campo' placeholder="Digite seu email">
            <input type= "password" id='password' class='input-campo' placeholder='Digite sua senha'>
            <button>Enviar</button>
        </form>
        <a href="">Esqueceu sua senha?</a>
    </div>
</body>
</html>
